caption {
  font-style: italic;
  color: #777;
  margin-top: 10px;
}

.caption {
  font-style: italic;
  font-size: 0.8em;
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.warning {
  background-image: url("img/info.png");
}

.darthvader {
  background-image: url("img/darth_vader.png");
}

.darthvader_bocabajo {
  background-image: url("img/darth_vader_bocabajo.png");
}

.yoda {
  background-image: url("img/yoda.png");
}

.piensa {
  background-image: url("img/piensa.png");
}

.historia {
  background-image: url("img/historia.png");
}

